/* Variables */
:root {
    --body-font: "Roboto", sans-serif;
}



/* Global */
body{
    font-family: var(--body-font);
    background-color: #1E202B;
}

header {
    min-height: 100vh;
}

/* Navbar */

nav{
    /* background-color: #1E202B; */
    padding-block: 3.125rem !important;
} 

nav .container .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

nav .container .navbar-brand img {
    margin-right: .625rem;
}

nav .container .navbar-brand .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

nav .container .navbar-brand h1{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .3125rem;
}

nav .container .navbar-brand small{
  color: #BFC1C8;
  font-size: .625rem;
  font-weight: 300;
}

nav .container .navbar-nav .nav-item {
    margin-left: .625rem;
}

nav .container .navbar-nav .nav-link {
    color: #fff;
    padding: .3125rem 1.5625rem;
    font-size: .875rem;
    font-weight: 400;
    border: 2px solid transparent;
    border-radius: 1.875rem;
}

nav .container .navbar-nav .nav-link.active,
nav .container .navbar-nav .nav-link:hover {
    border-color: #009ad8;
    color: #009ad8;
}

nav .container .navbar-toggler i {
    font-size: .875rem;
}

/* Header */
header .background-img{
    background-image: url('../images/banner.png');
    background-size: cover;
    padding: 4.375rem 0;
    min-height: 21.875rem;
}

.find-location {
    margin-bottom: 4.375rem;
    position: relative;
}

.find-location input[type="text"] {
    width: 100%;
    padding: 0.9rem 3.125rem 0.9rem 1.25rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.875rem;
}

.find-location input[type="button"] {
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    bottom: .3125rem;
    padding: 0 2.5rem;
    border: none;
    background: #009ad8;
    border-radius: 1.875rem;
    color: white;
}

.row {
    margin: .5rem;
}

.row .card {
    height: 20rem;
}

.row .card .card-header {
    color: #BFC1C8;
    font-size: .875rem;
}

.row .card-1 .card-header {
    background-color: #2D303D;
}

.row .card-1 {
    background-color: #323544;
}

.row .card-1 .card-body .city{
    color: #BFC1C8;
    font-size: 1.125rem;
    font-weight: 400;
}

.row .card-1 .card-body .temp .celsius {
    color: #fff;
    font-size: 5.625rem;
    margin-right: 1.875rem;
    font-weight: 700;
}

.row .card-1 .card-body span {
    margin-right: 1.25rem;
    color: #BFC1C8 !important;
}

.row .card-1 .card-body span i {
    
    font-size: .875rem;
    margin-right: .3125rem;

}

.row .card .card-body .weather-status {
    color: #009AD8;
    font-size: .875rem;
    font-weight: 400;
    margin-block: 1.25rem;
}

.row .card-2 .card-header {
    background-color: #222530;
}

.row .card-2 {
    background-color: #262936;
}

.row .card-2 .card-body,
.row .card-3 .card-body{
    padding-block: 3.125rem .625rem;
}

.row .card-2 .card-body img,
.row .card-3 .card-body img {
    margin-bottom: 1.25rem;
}

.row .card-2 .card-body .degree,
.row .card-3 .card-body .degree {
    font-size: 1.5rem;
    font-weight: 700;
}

.row .card-2 .card-body small,
.row .card-3 .card-body small {
    color: #BFC1C8;
    font-size: 1rem;
    font-weight: 400;
}

.row .card-3 .card-header {
    background-color: #2D303D;
}

.row .card-3 {
    background-color: #323544;
}

footer {
    background-color: #262936;
    padding-block: 3.125rem;
}

footer input[type="text"] {
    width: 100%;
    padding: 0.9rem 3.125rem 0.9rem 1.25rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    border-radius: 1.875rem;
}

footer input[type="submit"] {
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    bottom: .3125rem;
    padding: .625rem 1.25rem;
    border: none;
    background: #009ad8;
    border-radius: 1.875rem;
    color: white;
}

footer .social-links a {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1.25rem;
}

footer .social-links a:hover {
    background: #009ad8;
    color: #fff;
}

footer p {
    color: #BFC1C8;
    font-size: .875rem;
    font-weight: 400;
    margin: 1.875rem 0 1.25rem 1.25rem ;
}


/* Media Queries */

@media (max-width: 991.98px) {
    header {
        margin-bottom: 40.625rem;
    }
}
